body{
  margin: 0;
}
.table-cell:hover {
  border: #000;
  background-color: #f0f0f0; /* Change this color to whatever you prefer */
  cursor: pointer;
}



.app {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .header {
  
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 0px;
    width: 100%;
  }
  
  .sidebar {
    position: fixed;
    top: 52px;
    left: 0; /* Initially hide the sidebar */
    height: calc(100% - 50px);
    width: 200px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: left 0.3s; /* Smooth transition when showing/hiding */
  }
  
  .sidebar.show {
    left: -300px; /* Show the sidebar */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    margin-bottom: 10px;
  }
  
  .sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
  }
  
  .sidebar ul li a:hover {
    color: #ccc;
  }
  
  .add-icon {
    position: relative;
    top: 0;
    right: -130px; /* adjusted */
  }
  
  .btn {
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: 1px solid #fff; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block; 
    font-size: 16px;
    margin: 10px auto; 
  }
  
  .btn:hover {
    background-color: #ccc;
  }
  .btn-help{
    border: none;
  }
  
  .search-bar {
    flex-grow: 1;
    margin: 0 10px; /* Add some space around the search bar */
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
  }
  
  .search-bar::placeholder {
    color: #ccc; /* Placeholder text color */
  }
  
  .search-bar:focus {
    outline: none; /* Remove focus outline */
  }
  
  /* Add more styles as needed */
  .task-name-container {
    position: relative;
    
  }
  
  .icon-button {
    
    position: absolute;
    border-radius: 25%;
    background-color: white;
    border: none;
    right: 10px;
    padding-left: 10px; /* Adjust padding to make space for the icon */
    padding-top: 10px;
    
  }
  
  .icon-button svg {
    
    right: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 2px;
  }
  .icon-button:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }
  
  .icon-button-exit {
    
    position: absolute;
    border-radius: 25%;
    background-color: transparent;
    border: none;
    right: 10px;
    padding-left: 10px; /* Adjust padding to make space for the icon */
    padding-top: 10px;
    padding-bottom: 10px;
    
  }
  
  .icon-button-exit svg {
    
    right: 0;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 2px;
  }
  .icon-button-exit:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }
  
  .icon-button-remove {
    
    position: absolute;
    border-radius: 100%;
    background-color: white;
    border: none;
    
    padding-left: 10px; /* Adjust padding to make space for the icon */
    padding-top: 10px;
    
  }
  
  .icon-button-remove svg {
    
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
  }
  .icon-button-remove:hover {
    background-color: #e0e0e0; /* Change background color on hover */
  }
  
  
  
  .right-sidebar-content {
   padding: 20px;
  }
  
  .right-sidebar-open {
    position: fixed;
    top: 52px;
    right: 0;
    width: 500px;
    height: 100%;
    background-color: #f0f0f0;
    transition: right 0.3s;
    transform: translateX(0);
    z-index: 999;
  }
  
  .right-sidebar-closed {
    position: fixed;
    top: 60px;
    right: -500px;
    width: 500px;
    height: 100%;
    background-color: #f0f0f0;
    transition: left 0.3s;
    
  }
  
  .comment{
    width: 400px; 
    height: 100px; 
     
  }
  
  
  
  .delete-button{
    border-radius: 10%;
    background-color: #ffffff;
    
    border-width: 1px;
  
  }
  
  .calendar-container {
    position: absolute;
     
    left: 575px;
    z-index: 999; /* Ensure the calendar appears above other elements */
  }
  
  
  